form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 20px 20px;

  h1 {
    margin-bottom: 5rem;
  }

  .date-selector {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
    margin: 20px 4px;
    cursor: pointer;
  }

  button {
    color: white;
    background-color: blue;
  }
}
