.datesComponent {
  background-color: white;
}

.dates {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 100vh;
  background-color: white;
  padding: 4px;
}

.date {
  border: 2px solid red;
  background-color: green;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  color: white;
}
