h3 {
    margin-left: 8px;
    margin-right: 8px;
}

.authenticate {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    row-gap: 4px;
    justify-content: flex-end;
}

.nav {
    background-color: yellow;
}

button {
    background-color: indianred;
}