.authenticate {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    column-gap: 8px;
    justify-content: flex-end;
}

.nav {
    display: flex;
    border: 1px solid black;
    gap: 2rem;
    margin: 8px 2px 2px 8px;
}

button {
    background-color: indianred;
}