.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin: 1.5%;
  font-weight: bold;
}

.button-red{
  background-color: rgb(231, 80, 80);
  color : white;
  border: none;
  border-radius: 7%;
  margin: 5%;
  padding: 2%;
  padding-right: 15%;
  font-size: calc(3px + 2vmin);
  cursor: pointer;
}

.button-green{
  background-color: rgb(15, 152, 15);
  color : white;
  border: none;
  border-radius: 7%;
  margin: 5%;
  padding: 2%;
  padding-right: 15%;
  font-size: calc(3px + 2vmin);
  cursor: pointer;
}

input{
  color : #0a2a8b;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  margin: 5%;
  margin-bottom : 3%;
  font-size: calc(5px + 2vmin);
  padding: 4%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
